{{- if and .Values.rbac.create .Values.rbac.clusterRole }}
apiVersion: rbac.authorization.k8s.io/{{ .Values.rbac.apiVersion }}
{{- if .Values.watchNamespace }}
kind: Role
{{- else }}
kind: ClusterRole
{{- end }}
metadata:
  name: {{ template "capi2argo-cluster-operator.fullname" . }}
  labels: {{ include "capi2argo-cluster-operator.labels" . | nindent 4 }}
  {{- with .Values.watchNamespace }}
  namespace: {{ . }}
  {{- end }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
      - namespaces
    verbs:
      - 'get'
      - 'list'
      - 'watch'
  - apiGroups:
      - cluster.x-k8s.io
    resources:
      - clusters
    verbs:
      - get
      - list
      - watch
{{- end }}
