{{- if and .Values.rbac.create .Values.rbac.clusterRole }}
apiVersion: rbac.authorization.k8s.io/{{ .Values.rbac.apiVersion }}
{{- if .Values.watchNamespace }}
kind: RoleBinding
{{- else }}
kind: ClusterRoleBinding
{{- end }}
metadata:
  name: {{ template "capi2argo-cluster-operator.fullname" . }}
  labels: {{ include "capi2argo-cluster-operator.labels" . | nindent 4 }}
  {{- with .Values.watchNamespace }}
  namespace: {{ . }}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  {{- if .Values.watchNamespace }}
  kind: Role
  {{- else }}
  kind: ClusterRole
  {{- end }}
  name: {{ template "capi2argo-cluster-operator.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ template "capi2argo-cluster-operator.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
