---
name: "CI"
on:
  push:
      paths:
      - '.github/workflows/*'
      - 'controllers/*'
      - 'vendor/*'
      - 'go.mod'
      - 'go.sum'
      - 'main.go'
  pull_request:
      paths:
      - '.github/workflows/*'
      - 'controllers/*'
      - 'vendor/*'
      - 'go.mod'
      - 'go.sum'
      - 'main.go'

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run go fmt
        run: make fmt

      - name: Run go vet
        run: make vet

      - name: Run go lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.1.6
          args: --timeout 5m --modules-download-mode=vendor --build-tags integration

      - name: Run go test
        run: make test
