---
name: "CI"
on:
  push:
      paths:
      - '.github/workflows/*'
      - 'controllers/*'
      - 'vendor/*'
      - 'go.mod'
      - 'go.sum'
      - 'main.go'

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4.1.0
        with:
          go-version: '1.21.1'

      - name: Checkout code
        uses: actions/checkout@v4.1.1

      - name: Run go fmt
        run: make fmt

      - name: Run go vet
        run: make vet

      - name: Run go lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.54.2
          args: --timeout 5m --enable revive,gofmt,exportloopref --exclude-use-default=false --modules-download-mode=vendor --build-tags integration

      - name: Run go test
        run: make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          env_vars: GO
          fail_ci_if_error: true
          files: ./cover.out
          flags: unittests
          name: codecov-umbrella
          verbose: true
